#container {
    margin: 0 auto;
    border: 5px solid black;
    padding: 10px;
    width: 1000px;
    height: 500px;
    font-family: "LiHei Pro", "Microsoft YaHei", sans-serif;
    font-size: 4em;
}

button {
    font-size: 1em;
    margin-right: 30px;
}

.divQuestion {
    height: 50%;
}

.divOptions {
    height: 50%;
    top: 50%; /*FIXME: Not working as intended: fixed position*/
}

@media screen and (max-width: 1000px) {
    #container {
        padding: 10px;
        width: 100%;
        height: 100%;
        font-size: 5em;
    }

    button {
        display: block;
    }

}